.wrapper {
    max-width: 1440px;
    margin: 10px auto;
  }
  
.ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255,255,255, 0.4);
    border-radius: 10px;
    /* margin-top:  20px; */
    /* padding: 20px 20px; */
   
}



 @media(max-width:360px){

  .wrapper {
      width: 100%;
      /* margin-right: 10px;
      margin-left:10px; */
    }

    .ul{
      display: grid;
    grid-template-columns:auto;
    justify-content: space-between;
      /* background-color: red; */
      position: relative;
      left: -1px;
      
    
    }
 
}
@media(max-width:600px) and (min-width:362px){

  .wrapper {
    margin-right: 15px;
    margin-left: 20px;
  }

  .ul{
    
    display: block;
    /* grid-template-rows:auto;
    justify-content: space-between; */
    /* position: relative;
    right: 7px; */
    /* background-color: red; */
  }
}

@media(min-width:600px){
  .ul{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
}

@media(min-width:992px){
  .ul{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
}

@media(min-width:1200px){
  .wrapper {
    max-width: 1440px;
    margin: 10px auto;
  }

  .ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
  }
}


