.li{
    list-style-type: none;
  }

.meal-item-div{
    display: block;
    margin: 2rem auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 20rem;
    height: 20rem;
    border-radius: 10px;
    cursor: pointer;
    /* background-color: red; */
}

.meal-item-div:hover{
    
    animation: rotation 1s 1 linear;
}

@keyframes rotation {
    from {
      transform: rotateY(180deg) scale(1,1);
    }
    to {
      transform: rotateY(359deg) scale(1.2,1.2);
    }
}


.meal-item-img{
  width: 100%;
  height: 15rem;
  object-fit: cover; 
  border-radius: 10px;
}

.meal-item-description{
    border-radius: 10px;
    position: relative;
}

.food-name{
    position: absolute;
    left:10px;
    font-size:1rem;
    font-weight: bold;
}

.food-rating{
    position: absolute;
    right: 10px;
    font-weight: bold;
}

.rating-star{
    width: 15px;
    height: 15px;
    margin-right: 3px;
}

.delivery-details{
    position: absolute;
    left: 5px;
    top:30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.delivery-type{
    margin-left: 10px;
}

.location-icon{
    width: 15px;
    height: 15px;
    margin-left: 3px;
    
}

.dollar-icon{
    width: 15px;
    height: 15px;
    margin-left: 3px;
}

@media (max-width:360px){

    .meal-item-div{
        position: relative;
        left: 6px;
       width: 20rem;
        
    }
}

@media(max-width:600px) and (min-width:362px){
    .meal-item-div{
         position: relative;
        width: 23rem;
         /*margin-left: 20px;
        margin-right: 20px;
        left: 33px;   */
    }
} 


@media  (min-width:600px){
    .meal-item-div{
        width: 21rem;
    }
}
@media(min-width:768px){
    .meal-item-div{
        width: 23rem;
    }
}
@media(min-width:992px){
    .meal-item-div{
        width: 29rem;
    }
}

@media(min-width:1200px){
    .meal-item-div{
        width: 20rem;
    }
}
