.nav-section{
    display: none;
    position: fixed;
    background-color:rgba(80,49,26,200);
    height: 100%;
    width: 40%;
    top: 50px;
    left:-100%;
    z-index: 2;
    opacity: 0.9;
    transition: left 0.5s ease;
}

.nav-section-active{
  left: 0%;
  display: none;
  position: fixed;
  background-color:rgba(80,49,26,200);
  height: 100%;
  width: 60%;
  top: 50px;
  z-index: 2;
  opacity: 0.9;
  transition: left 0.5s ease-in;
}

.nav-section-a{
    display: block;
    padding: 10px 15px;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    width: inherit;
    
  }

  .drodpdown-div{
    position: absolute;
    top: 20%;
    cursor: pointer;
  }
  .cart-avatar-drp {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
  
  }
  

  .nav-section-a:hover{
    background-color: white;
    color: black;
    width: 40%;
    padding: 5px 10px;
  }

  @media(max-width:360px){
    .nav-section{
        /* top: 8vh; */
        position: fixed;
        display: block
    }

    .nav-section-active{
      position: fixed;
        display: block
    }
  }

  @media(max-width:600px){
    .nav-section{
        /* top: 8vh; */
        position: fixed;
        display: block;
    }
    .nav-section-active{
      position: fixed;
        display: block
    }
    .drodpdown-div{
     top: 20%;
    }
  }

  @media(min-width:600px){
      .nav-section{
       display: none;
      }
      .drodpdown-div{
        display: none;
      }
  }

  @media(min-width:768px){
    .nav-section{
      display: none;
     }
     .drodpdown-div{
       display: none;
     }
  }

  @media(min-width:992px){
    .nav-section{
      display: none;
     }
     .drodpdown-div{
       display: none;
     }
  }

  @media(min-width:1200px){
    .nav-section{
      display: none;
     }
     .drodpdown-div{
       display: none;
     }
  }


 