
 .cart-profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    margin-right: 30%;
  }
  
  .cart-profile-li {
    list-style-type: none;
    cursor: pointer;
  }
  
  .cart-profile-cart {
    width: 25px;
    height: 25px;
    margin-right: 30px;
  }

  .cart-profile-cart-button{
    cursor: pointer;
  }

  .cart-profile-span {
    background-color: #1c1610;
    color: white;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 10px;
    font-size: 15px;
    position: relative;
    left: 40px;
    top: -20px;
    z-index: 1;
  }
  
  .cart-avatar {
    width: 50px;
    height: 50px;
    border: 2px solid #e7cb3e;
    border-radius: 50px;
    margin-right: 15px;
  }

  .cart-avatar-drp {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: none;

  }

  @media(max-width:360px){
  
    .cart-profile-cart {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      top: 25px;
      left: -25px;
      position: absolute;
    }

    .cart-avatar {
      width: 30px;
      height: 30px;
      border: 2px solid #e7cb3e;
      border-radius: 50px;
      margin-right: 10px;
      /* float: right; */
      top: 20px;
      left: 20px;
      /* right: 10px; */
      position: absolute;
      margin-right: 10px;
    }
    .cart-avatar-drp{
      width: 20px;
      height: 20px;
      margin-right: 50px;
      top: 23px;
      left: -70px;
      position: absolute;
    }

    .cart-profile-span{
      position: relative;
      left: -10px;
      top: 15px;
      padding: 5px 5px;
      border-radius: 10px;
      font-size: 9px;
     
    }

    .cart-profile{
      display: flex;
      position: relative;
      align-items: center;
      top: -20px;
      right: 20px;
    }
  }

  @media(max-width:600px){
  
    .cart-avatar-drp{
      display: inline-block;
    }
    .cart-profile-cart {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      top: 25px;
      left: -25px;
      position: absolute;
    }

    .cart-avatar {
      width: 30px;
      height: 30px;
      border: 2px solid #e7cb3e;
      border-radius: 50px;
      margin-right: 10px;
      /* float: right; */
      top: 20px;
      left: 20px;
      /* right: 10px; */
      position: absolute;
      margin-right: 10px;
    }
    .cart-avatar-drp{
      width: 20px;
      height: 20px;
      margin-right: 50px;
      top: 23px;
      left: -70px;
      position: absolute;
    }

    .cart-profile-span{
      position: relative;
      left: -10px;
      top: 15px;
      padding: 5px 5px;
      border-radius: 10px;
      font-size: 9px;
     
    }

    .cart-profile{
      display: flex;
      position: relative;
      align-items: center;
      top: -20px;
      right: -18%;
      
    }
  }

  @media(min-width:600px){
   
    .cart-profile{
      display: flex;
      position: relative;
      align-items: center;
      top: -20px;
      right: 8%;
      
    }

    .cart-profile-cart {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      top: 25px;
      left: -25px;
      position: absolute;
    }

    .cart-avatar {
      width: 30px;
      height: 30px;
      border: 2px solid #e7cb3e;
      border-radius: 50px;
      margin-right: 10px;
      /* float: right; */
      top: 20px;
      left: 20px;
      /* right: 10px; */
      position: absolute;
      margin-right: 10px;
    }
    .cart-avatar-drp{
      width: 20px;
      height: 20px;
      margin-right: 50px;
      top: 23px;
      left: -70px;
      position: absolute;
    }

    .cart-profile-span{
      position: relative;
      left: -10px;
      top: 15px;
      padding: 5px 5px;
      border-radius: 10px;
      font-size: 9px;
     
    }

    
  }

  @media (min-width:768px){
    .cart-profile{
      right:10%;
    }

    .cart-profile-cart{
      width: 30px;
      height: 30px;
      top: 20px;
      left: -25px;
      
    }
    .cart-avatar{
      width: 45px;
      height: 45px;
      top: 13px;
      left: 25px;
    }
  }

  @media (min-width:992px){
    .cart-profile{
      right: -7%;
    }
  }

  @media (min-width:1200px){
    .cart-profile{
      left:25%;
    }
  }

 