.nav-section {
    margin-left: 20px;
    margin-right: 150px;
    
  }
  
  .nav-section-a {
    text-decoration: none;
    margin-right: 15px;
    font-size: 20px;
    color: hsl(219, 9%, 45%);
  }
  
  .nav-section a:hover {
    text-decoration: underline;
    text-underline-offset: 1.0em;
    text-decoration-color: #e7cb3e;
    text-decoration-thickness: 8px;
    color: hsl(220, 13%, 13%);
  }



  @media(max-width:360px){
    .nav-section{
      display: none;
    }
  }

  @media(max-width:600px){
    .nav-section{
      display: none;
    }
  }
  @media  (min-width:768px){
    .nav-section {
      margin-left: 7%;
    }

    .nav-section-a{
      margin-right: 15px ;
    } 
  }

  @media(min-width:992px){
   .nav-section{
     margin-left: 13%;
   }
  }

  @media(min-width:1200px){
  
  }

  