.wrapper {
    /* max-width: 1440px; */
    margin-top: 30px ;
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
    padding: 30px;
    height: 10rem;

    
    /* border-radius: 20px; */
  }

