@import url(https://fonts.google.com/specimen/Kumbh+Sans);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: 'Kumbh', sans-serif;
  line-height: 1.7;
  font-size: 15px;
}


.wrapper {
  max-width: 1440px;
  margin: 10px auto;
}

@media (max-width:360px){
   .wrapper{
    max-width: 330px;
     margin: 5px auto;
   }

   /* body{
     display: grid;
     grid-template-rows: 1fr;
   } */
}

::-webkit-scrollbar{
  width: 5px;
}
  
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background-color: grey;
  border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover{
   background-color:  rgba(80,49,26,255);
 }