.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
  }


.product-detail{ 
position: fixed;
z-index: 2;
  top: 30vh;
  left: 35%;
  width: 40%;
  height: 40%;
  z-index: 2;
  overflow: hidden;
  background-color: white;
  display: grid;
    grid-template-columns: auto auto;
    column-gap: 80px;
    padding: 0 20 0 0px;
    border-radius: 20px;
  
}

.product-image{
  
    overflow: hidden;
   
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-info-section{
    max-height: inherit;
  margin: 30px 20px 60px 0
}

.product-title-p{
    text-transform: uppercase;
    color:#e7cb3e;
    letter-spacing: 3px;
    font-weight: 2rem;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 10%;
  }

  .product-title-h2{
    font-size: 2rem;
    line-height: normal;
    font-weight: 700px;
    line-height: 50px;
    margin-top: 10px;
    margin-left: 10%;
}

.product-info{
    text-decoration: none;
    font-size: 1rem;
    color: hsl(219, 9%, 45%);
    margin-top: -60px;
    margin-left: 3px;
  }

  .price-section{
    margin-top: 20px;
  }

  .product-price{
    display: flex;
    align-items: center;
  }

  .product-price-h3{
    font-size: 1.5rem;
    margin-left: 1px;
  }

  .product-price-span{
    background-color: #ebebeb;
    color: #e7cb3e;
    border-radius: 3px;
    padding: 5px 5px;
    font-weight: 700;
    margin-left: 5px;
    font-size: 0.5rem;
  }

  .product-price-p{
    text-decoration: line-through;
    color: hsl(219, 9%, 45%);
    font-size: 0.7rem;
    margin-left: 3px;
    margin-bottom: 12px;

  }

  .add-to-cart{
    display: grid;
    /* align-items: center;
    justify-content: space-between; */
    grid-template-columns: auto auto;
    column-gap: 20px;
    height: 30px;
    /* margin-top: 50px; */
    /* column-gap: 20px; */ 
    /* justify-content: space-around; */
    margin-left: -7px;
  }

  .multiple-selection{
    display: flex;
    /* background-color:#ebebeb; */
    /* grid-template-columns: repeat(3, 1fr);*/
    align-items: center; 
    justify-content: space-around;
    /* margin-right: 150px; */
    /* padding: 10px 0; */
    border-radius: 10px;
    width: 100px;
    
    position: relative;
   
  }

  .multiple-selection-li {
    list-style-type: none;
    /* margin-right: 20px; */
    
  }

  .multiple-selection-button {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 500px;
    background-color: rgba(80,49,26,255);
    padding: 5px;
    border-radius: 5px;
    width: 25px;
    height: 35px;
    border: none;
    cursor: pointer;
  }



  .add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    background-color: rgba(80,49,26,255);
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 30px;
  }
  
  .add-to-cart-img{
    filter: invert(70%);
    fill: #fff;
    width: 20px;
    height: 20px;
    margin-left: 30px;
    display: none;
  }

  .add-to-cart-p{
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
  }
/* ########## RESPONSIVENESS ########### */
  @media (max-width:360px){
    .product-detail{ 
      position: fixed;
      z-index: 2;
        top: 15vh;
       left: 5%;
        width: 90%;
        height: 70%;
        z-index: 2;
        overflow: hidden;
        background-color: white;
        display: block;
          border-radius: 0px;
      }

      .product-image{
        overflow: hidden;
        border-radius: 0px; 
        height: 40%;
        width: 100%;
        object-fit: cover;
    }

    .product-info-section{
    max-height: inherit;
  margin: 30px 20px 60px 30%;
}

.product-info{
  margin-top: -10%;
  margin-left: 2%;
  text-align:center;
  font-size: 1.5rem;
}
.product-title-p{
  font-size: 1.0rem;
  margin-left: 0%;
  margin-top: -8%;

}
.product-title-h2{
  font-size: 1.7rem;
  margin-left: 9vw;
  margin-top: -3%;
  text-align: center;
  
}
.product-price{
  margin-left: 10%;
}
.product-price-h3{
  margin-left: 30%;
  margin-top: -25%;
}

.product-price-span{
  font-size: 0.7rem;
  margin-top: -25%;
}

.product-price-p{
 
 font-size: 1.3rem;
  margin-left: 40vw;
  margin-top: -5%;
}

.add-to-cart{
  display: block;
  position: absolute;
  /* left: 10%; */
  margin-top: -10%;
}

.multiple-selection{
  display: grid;
  grid-template-columns: auto auto auto;
  /* column-gap: 20px; */
 left: 35%;
 margin-top: 10%;
 margin-bottom: 10%;
 font-size: 1.5rem;
}

.multiple-selection-button {
  font-size: 25px;
  font-weight: 500px;
  padding: 5px;
  border-radius: 5px;
  width: 25px;
  height: 35px;
  border: none;
  cursor: pointer;
  margin: 0;
}


.add-to-cart-button {
  height: 35px;
  width: 95vw;
  margin-left: 2px;
  margin-right: 0px;
  margin-top:-7%;
  border-radius: 0px;
  position: relative;
  padding: 15px ;
  
}
.add-to-cart-img{
  filter: invert(70%);
  fill: #fff;
  width: 20px;
  height: 20px;
  margin-left: 50px;
}
.add-to-cart-p{
  color: #fff;
  text-decoration: none;
  /* margin-right: 40px; */
  font-size: 1.3rem;
  position: absolute;
  left: 35%;
  bottom: 14%;
  }
}
@media (max-width:600px) and (min-width: 362px){
  .product-detail{ 
      position: fixed;
      z-index: 2;
      top: 15vh;
      left: 5%;
      width: 90%;
      height: 70%;
      z-index: 2;
      overflow: hidden;
      background-color: white;
      display: block;
        border-radius: 0px;
      }

      .product-image{
        overflow: hidden;
        border-radius: 0px; 
        height: 30%;
        width: 100%;
        object-fit: cover;
    }

      .product-info-section{
        max-height: inherit;
      margin: 30px 20px 60px 30%;
    }
    
    .product-info{
      margin-top: -10%;
      margin-left: 2%;
      text-align:center;
      font-size: 1.5rem;
    }
    .product-title-p{
      font-size: 1.0rem;
      margin-left: 0%;
      margin-top: -8%;
    
    }
    .product-title-h2{
      font-size: 1.7rem;
      margin-left: 13%;
      margin-top: -3%;
      
    }
    
    .product-price{
      margin-left: 10%;
    }
    .product-price-h3{
      margin-left: 30%;
      margin-top: -25%;
    }
    
    .product-price-span{
      font-size: 0.7rem;
      margin-top: -25%;
    }
    
    .product-price-p{

     font-size: 1.3rem;
      margin-left: 37vw;
      margin-top: -5%;
    }
    
    .add-to-cart{
      display: block;
      position: absolute;
      /* left: 10%; */
      margin-top: -5%;
    }
    
    .multiple-selection{
      display: grid;
      grid-template-columns: auto auto auto;
      /* column-gap: 20px; */
     left: 40%;
     margin-top: 5%;
     margin-bottom: 10%;
     font-size: 1.5rem;
    }
    
    .multiple-selection-button {
      font-size: 25px;
      font-weight: 500px;
      padding: 5px;
      border-radius: 5px;
      width: 30px;
      height: 40px;
      border: none;
      cursor: pointer;
      margin: 0;
    }
    
    
    .add-to-cart-button {
      height: 50px;
      width: 80vw;
      margin-left: 8%;
      margin-right: 0px;
      margin-top:5%;
      border-radius: 5px;
      position: relative;
      padding: 15px ;
      
    }
    .add-to-cart-img{
      filter: invert(70%);
      fill: #fff;
      width: 20px;
      height: 20px;
      margin-left: 50px;
    }
    .add-to-cart-p{
      color: #fff;
      text-decoration: none;
      /* margin-right: 40px; */
      font-size: 1.4rem;
      position: absolute;
      left: 35%;
      bottom: 14%;
      }
}






@media (min-width:600px){
  .product-detail{ 
    top: 20vh;
  left: 23%;
  width: 60%;
  height: 60%;
  display: block;
  overflow: auto;
  border-radius: 0;
    }

  .product-image{
  overflow: hidden;
  border-radius: 0px; 
  height: 40%;
  width: 100%;
  object-fit: cover;
  }

.product-info-section{
    margin-left: 20%;
    margin-top: -5%;
}

.product-info{
  margin-left: 15%;

}

.product-price-h3{
margin-left: 35%;
margin-top: -15%;

font-size: 2rem;
}

.product-price-span{
  margin-top: -15%;
}

.product-price-p{
  font-size: 1.2rem;
  margin-left: 43%;
  margin-top: -3%;
}

.add-to-cart{
  display: block;
}

.multiple-selection{
left: 37%;
margin-top: 5%;
margin-bottom: 0;
font-size: 1.5rem;
}

.multiple-selection-button {
  height: 40px;
  width: 30px;
}


.add-to-cart-button {

  height: 50px;
  width:80%;
  margin-left: 10%;
  /* margin-right: 0px; */
  margin-top:8%;
  border-radius: 0px;
  position: relative;
  padding: 10px ;
  border-radius: 5px;
  
}

/* .add-to-cart-img{
  margin-left: 90px;
} */

.add-to-cart-p{
  position: absolute;
  left: 3%;
  bottom: 10%;
  
  font-size: 1.5rem;
}
}


@media (min-width:768px){

 
  .product-detail{ 
    top: 20vh;
  left: 23%;
  width: 60%;
  height: 60%;
  display: block;
  overflow: hidden;
  border-radius: 0;
    }


    .product-details-section{
      margin-top: 18%;
    }


  .product-image{
  overflow: hidden;
  border-radius: 0px; 
  height: 40%;
  width: 100%;
  object-fit: cover;
  }


  .product-info{
    margin-top: -15%;
    margin-left: 2%;
    text-align:center;
    font-size: 1.5rem;
  }
  .product-title-p{
    font-size: 1.0rem;
    margin-left: 15%;
    margin-top: -20%;
  
  }
  .product-title-h2{
    font-size: 1.7rem;
    margin-left: 13%;
    margin-top:-2%;
    
  }

.product-price-h3{
margin-left: 35%;
font-size: 3rem;
}

.product-price-span{

}

.product-price-p{
  font-size: 1.2rem;
  margin-left: 43%;
}

.add-to-cart{
  display: block;
}

.multiple-selection{
left: 37%;
margin-top: 5%;
margin-bottom: 0;
font-size: 1.5rem;
}

.multiple-selection-button {

}


.add-to-cart-button {

  height: 50px;
  width:90%;
  margin-left: 6%;
  /* margin-right: 0px; */
  margin-top:10%;
  border-radius: 5px;
  position: relative;
  padding: 10px ;
  
}

/* .add-to-cart-img{
  margin-left: 90px;
} */

.add-to-cart-p{
  position: absolute;
  left: 40%;
  bottom: 10%;
  
  font-size: 1.5rem;
}
}



@media(min-width:1200px){

  .product-detail{ 
    position: fixed;
    z-index: 2;
      top: 30vh;
      left: 35%;
      width: 40%;
      height: 50%;
      z-index: 2;
      overflow: hidden;
      background-color: white;
      display: grid;
        grid-template-columns: auto auto;
        column-gap: 80px;
        padding: 0 20 0 0px;
        border-radius: 20px;
      
    }
    
    .product-image{

        overflow: hidden;
        border-radius: 20px 0 0 20px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .product-details-section{
      padding-top: -20%;
    }
    .product-info-section{
        max-height: inherit;
      margin: 30px 20px 60px 0
    }
    
    .product-title-p{
        text-transform: uppercase;
        color:#e7cb3e;
        letter-spacing: 3px;
        font-weight: 2rem;
        font-size: 1rem;
        margin-top: 10px;
      }
    
      .product-title-h2{
        font-size: 3rem;
        line-height: normal;
        font-weight: 700px;
        line-height: 50px;
        margin-top: 10px;
    }
    
    .product-info{
        text-decoration: none;
        font-size: 1rem;
        color: hsl(219, 9%, 45%);
        margin-top: -60px;
        margin-left: 3px;
      }
    
      .price-section{
        margin-top: 20px;
      }
    
      .product-price{
        display: flex;
        align-items: center;
      }
    
      .product-price-h3{
        font-size: 1.5rem;
        margin-left: 20%;
      }
    
      .product-price-span{
        background-color: #ebebeb;
        color: #e7cb3e;
        border-radius: 3px;
        padding: 5px 5px;
        font-weight: 700;
        margin-left: 5px;
        font-size: 0.5rem;
      }
    
      .product-price-p{
        text-decoration: line-through;
        color: hsl(219, 9%, 45%);
        font-size: 0.7rem;
        margin-left: 25%;
        margin-bottom: 12px;
    
      }
    
      .add-to-cart{
        display: grid;
         /* align-items: center; */
        /* justify-content: space-around;  */
        grid-template-columns: auto auto;
        /* column-gap: 20px; */
        height: 30px;
        /* margin-top: 50px; */
        /* column-gap: 20px; */ 
        /* justify-content: space-around; */
        margin-left: -5%;
        margin-top: 5%;
        
      }
    
      .multiple-selection{
        display: flex;
        /* background-color:#ebebeb; */
        /* grid-template-columns: repeat(3, 1fr);*/
        align-items: center; 
        justify-content: space-around;
        /* margin-right: 150px; */
        /* padding: 10px 0; */
        border-radius: 10px;
        width: 100px;
        margin-left: -30%;
        margin-top: 15%;
        
        position: relative;
       
      }
    
      .multiple-selection-li {
        list-style-type: none;
        /* margin-right: 20px; */
        
      }
    
      .multiple-selection-button {
        text-decoration: none;
        color: white;
        font-size: 25px;
        font-weight: 500px;
        background-color: rgba(80,49,26,255);
        padding: 5px;
        border-radius: 5px;
        width: 25px;
        height: 35px;
        border: none;
        cursor: pointer;
        
      }
    
    
    
      .add-to-cart-button {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40px;
        width: 200px;
        border-radius: 10px;
        background-color: rgba(80,49,26,255);
        color: white;
        border: none;
        cursor: pointer;
        margin-right: 30px;
        margin-top: 18px;
      }
      
      .add-to-cart-img{
        filter: invert(70%);
        fill: #fff;
        width: 20px;
        height: 20px;
        margin-left: 30px;
        display: none;
      }
    
      .add-to-cart-p{
        color: #fff;
        text-decoration: none;
        margin-right: 30px;
        font-size: 1rem;
        position: absolute;
        bottom: 20%;
        left: 30%;
      }

}
